:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    display: block;
}

.container__title {
    margin-bottom: 2rem;
    background-color: #256d85;
    padding: 20PX;
    width: 100vw;
}

.container {
    max-width: 1024px;
    margin: auto;
    padding: 1rem 2rem;
}

.content_food {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.food {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.5s;
}

.food:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #256d85;
    color: #fff;
}

.bx-cart-alt {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    z-index: 1000;
}

.content_cart {
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    padding: 1rem;
}

.content_cart-body {
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: scroll;
}

.item_cart {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    border-radius: 1rem;
    padding: 1rem;
}

.item_cart-img {
    width: 50%;
}

.content_cart-total {
    height: 10%;
    background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content_cart-show {
    transform: translateX(0);
}
